.grid {
  height: 480px;
  width: 300px;
  border: solid black;
  background-color: rgb(140, 199, 255);
}

.buttonsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 3px;
  height: 60px;
  width: 60px;
  background-color: rgb(167, 66, 7);
  border: solid black 1px;
  text-align: center;
}

.display {
  margin: 10px auto;
  height: 90px;
  width: 260px;
  border: solid black 1px;
  background-color: rgb(155, 121, 247);
}
